{# -*- coding: utf-8; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- vim:fenc=utf-8:et:sw=4:ts=4:sts=4 #}
{% extends "layout.html" %}
{% block title %}Hello{% endblock %}
{% block body %}

<p>
    Wonder how ukbot counts words?
    <a href="wordcount">Test it here</a>
</p>

{% for conf in contests %}

<section style="clear:both;">
  <img src="static/plots/{{ conf.id }}.mem.png" style="width:400px; float:right;">
  <h2>
      <a href="./{{ conf.url }}/">{{ conf.name }}</a>
  </h2>
  <a href="./{{ conf.id }}/status">{{ conf.status | safe }}</a>
</section>

{% endfor %}

<div style="clear:both;"></div>


<script type="text/javascript">

$(document).ready(function() {

  $.getJSON('static/plots/fi-ek.json', function(response) {

      var data = [];
      for (key in response) {
        if (response[key].length > 0) {
          data.push({
              values: response[key],
              key: key,
              color: '#ff7f0e'
            });
        }
      }

      nv.addGraph(function() {
          var chart = nv.models.lineChart();

          chart.xAxis
              .axisLabel('Time')
              .tickFormat(function(d) {
                return d3.time.format('%x')(new Date(d * 1000));
              });

          chart.yAxis
              .axisLabel('Points')
              .tickFormat(d3.format('d'));

          d3.select('#chart_fi-hl svg')
              .datum(data)
              .transition().duration(500)
              .call(chart);

          nv.utils.windowResize(function() { d3.select('#chart_fi-hl svg').call(chart) });

          return chart;
      });

  });

});

</script>
{% endblock %}


