{# -*- coding: utf-8; tab-width: 4; indent-tabs-mode: nil; c-basic-offset: 4 -*- vim:fenc=utf-8:et:sw=4:ts=4:sts=4 #}
{% extends "layout.html" %}
{% block title %}UKB log{% endblock %}
{% block body %}

<pre id="run_log">
</pre>

<script>

var baseHref = document.getElementsByTagName('base')[0].href.replace(/https?:/, 'wss:');
var contest = "{{contest}}";

var socket = new WebSocket(baseHref + contest + "/status.sock");
socket.onopen = function(){
    console.log("Socket has been opened!");
}
socket.onmessage = function(msg){
    $('#run_log').text( $('#run_log').text() + msg.data);
    console.log(msg); //Awesome!
}
</script>

{% endblock %}
