locale: fi_FI
rollbar_token: 88f5bd483f7348ea8b0564449c8d77cd
server_timezone: UTC
wiki_timezone: Europe/Helsinki
homesite: fi.wikipedia.org
default_prefix: fi
wikidata_languages: ['fi', 'sv', 'en']
pages:
    catignore: Käyttäjä:UKBot/cat-ignore
contestPages:
    resultsSection: Tulokset
    participantsSection: Osallistujat
templates:
    botinfo: Viikon kilpailu robotti-info
    status: Viikon kilpailu tilanne
    commonargs:
        year: vuosi
        week: viikko
        week2: loppuviikko
        yes: kyllä
        no: ei
    infobox:
        name: Viikon kilpailun tietolaatikko
        status: tilanne
        start: alkaa
        end: loppuu
        organizer: järjestäjät
        winner: voittaja
    suspended:
        name: VK osallistuja hylätty
    disqualified:
        name: VK muokkaus hylätty
    penalty:
        name: VK pisteidenhylkäys
    bonus:
        name: VK bonus
    contestlist:
        name: Viikon kilpailu luettelo
    rule:
        name: Viikon kilpailu pisteet
        new: uusi
        qualified: NOT-IN-USE
        contrib: NOT-IN-USE
        redirect: ohjaus
        refsectionfi: refsectionfi
        byte: tavu
        word: sana
        maxpoints: makspisteet
        site: site
        image: kuva
        external_link: aiheesta muualla
        ref: ref
        templateremoval: mallineen poisto
        bytebonus: tavubonus
        wordbonus: sanabonus
        alias: alias
        own: oma
        ownwork: oma teos
        maxinitialcount: makskuvienmäärä
        wikidata: wikidata
        properties: properties
        labels: labels
        aliases: aliases
        descriptions: descriptions
        require_reference: require_reference
        all: alle
    filters:
        name: Viikon kilpailu kriteerit
        params:
            new:
                name: uusi
                params:
                    redirects: ohjaukset
            existing:
                name: löytyvä
            template:
                name: malline
            bytes:
                name: tavut
            category:
                name: luokka
                ignore_page: Käyttäjä:UKBot/cat-ignore
                params:
                    ignore: ignore
                    maxdepth: makssyvyys
            backlink:
                name: takaisinlinkitys
            forwardlink:
                name: edelleenlinkitys
            pages:
                name: sivut
            namespace:
                name: nimiavaruus
                params:
                    site: site
            sparql:
                name: sparql  # as in {{ ukb criterion | sparql }}
                params:
                    query: query    # as in {{ ukb criterion | sparql | query=... }}
ignore:
    - muokkaukset kumottiin ja sivu palautettiin # MediaWiki:Revertpage
    - ^Hylättiin (viimeisin tekstimuutos|viimeisimmät .* tekstimuutosta) # MediaWiki:Revreview-reject-summary-cur/fi
    - ^Kumottu muokkaus # MediaWiki:Undo-summary/fi
    - clientsitelink-update  # Wikidata: Page moved from .. to ..
    - clientsitelink-remove  # Wikidata: Removed sitelink
